@import "./base.css";

#app {
	width: 100vw;
	height: 100vh;
	font-weight: normal;
}

.centered-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

a,
.green {
	padding: 3px;
	color: hsla(160, 100%, 37%, 1);
	text-decoration: none;
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}
